

@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~bootstrap/scss/bootstrap";

:root {
    --colorRed: #FF0052;
    --colorBlue: #131661;
    --colorWhite: #FFFFFF;
    --lightgreen: #00B67A;
    --colorBlack: #000000;
    --secondaryBlue: #090E38;
    --color-cards: #232B5C;
}
/****home****/
.carousel {
    width: 100%;
    max-height: 300px;
  }

  .carousel-inner img {
    object-fit: contain;
    max-height: 300px;
  }
////*****///
.bg-footer{
    background-color: rgb(78, 77, 77);
}
.bg-foot {
    background-image: url('../images/footer-bg.jpg');
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
    .jc-card {
      width: 100%;
      transition: all ease 0.4s;
      border-radius: 5px;

      .cards-body {
        padding: 1rem;
        color: white;
      }
      .card-title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }

    }
    .jc-card:hover{
        cursor: pointer;
        background-color: var(--color-cards);
      }
      .jc-card img{
        width: 100%;
        max-height: 350px;
        border-radius: 10px;
        padding-top: 8px;
      }

    /***button loadMore**/
    .container {
        overflow: hidden;
    }

    .row {
        transition: height 0.3s;
    }

    .row.show-more {
        height: auto;
    }
    .btn-shadow{
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px ;
    }

